<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpenSuite">
	<listeners>
		
		<listener class-name="utilities.ExtentReportManager"></listener>
		
			
	</listeners>
	
	
  <test thread-count="5" name="OpenTest">
	  <parameter name="Browser" value="Chrome"></parameter>
    <classes>
     <!--  <class name="testCases.TC_001_AccountRegistrationTest"/> -->
      
      <class name="testCases.TC_003_LoginTest"/>
      
    </classes>
  </test> <!-- OpenTest -->
  
</suite> <!-- OpenSuite -->
